<div class="row">

  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="<%= @recipe.image %>" alt="Card image cap">
    </div>
  </div>

  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= @recipe.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= @recipe.subtitle %></h6>
        <hr>
        <p class="card-text"><%= @recipe.description %></p>
        <hr>
        <p class="card-text">
        <div class="">
          <strong>Serves</strong> <%= @recipe.serves %>
        </div>

        <div class="">
          <strong>Cooks in</strong> <%= @recipe.time %>
        </div>
        <div class="">
          <strong>Difficulty</strong> <%= @recipe.difficulty %>
        </div>

        </p>

        <hr>
        <p class="card-text">
          <% @recipe.tags.split(',').each do |tag| %>
            <span class="badge badge-success"> <%= tag %></span>
          <% end %>
        </p>


      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ingredients</h5>

        <ul class="list-group list-group-flush">
          <% @recipe.ingredients_array.each do |ingredient| %>
            <li class="list-group-item"><%= ingredient %></li>
          <% end %>
        </ul>

      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Method</h5>
        <ol class="">
          <% @recipe.instructions_array.each do |instruction| %>
            <li class=""><%= instruction %></li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>

</div>
